<div class="content-box content-box-separate-bottom glyphiconMedium col-xs-12 col-sm-12 col-md-2 col-lg-2">
    <th>&nbsp;&nbsp;&nbsp; <span class="glyphicon glyphicon-usd"></span>&nbsp;Kredyty:</th>
    <th>todo</th>
</div>
<div class="content-box content-box-separate-bottom glyphiconMedium col-lg-offset-2 col-md-offset-2 col-xs-12 col-sm-12 col-md-2 col-lg-2">
    <th>&nbsp;&nbsp;&nbsp; <span class="glyphicon glyphicon-modal-window"></span>&nbsp;Uranium:&nbsp;&nbsp;</th>
    <th>{{resources.uranium}}</th>
</div>
<div class="content-box content-box-separate-bottom glyphiconMedium col-xs-12 col-sm-12 col-md-2 col-lg-2">
    <th>&nbsp;&nbsp;&nbsp; <span class="glyphicon glyphicon-compressed"></span>&nbsp;Ferrum:&nbsp;&nbsp;</th>
    <th>{{resources.ferrum}}</th>
</div>
<div class="content-box content-box-separate-bottom glyphiconMedium col-xs-12 col-sm-12 col-md-2 col-lg-2">
    <th>&nbsp;&nbsp;&nbsp; <span class="glyphicon glyphicon-folder-close"></span>&nbsp;Silicon:&nbsp;&nbsp;</th>
    <th>{{resources.silicon}}</th>
</div>
<div class="content-box content-box-separate-bottom glyphiconMedium col-xs-12 col-sm-12 col-md-2 col-lg-2">
    <th>&nbsp;&nbsp;&nbsp; <span class="glyphicon glyphicon-tint"></span>&nbsp;Helium:&nbsp;&nbsp;</th>
    <th>{{resources.helium}}</th>
</div>
