<th>&nbsp;&nbsp;&nbsp; <span class="glyphicon glyphicon-modal-window"></span>&nbsp;Uranium:&nbsp;&nbsp;</th>
<th>{{Uranium}}</th>
<th>&nbsp;&nbsp;&nbsp; <span class="glyphicon glyphicon-compressed"></span>&nbsp;Ferrum:&nbsp;&nbsp;</th>
<th>{{Ferrum}}</th>
<th>&nbsp;&nbsp;&nbsp; <span class="glyphicon glyphicon-folder-close"></span>&nbsp;Silicon:&nbsp;&nbsp;</th>
<th>{{Silicon}}</th>
<th>&nbsp;&nbsp;&nbsp; <span class="glyphicon glyphicon-tint"></span>&nbsp;Helium:&nbsp;&nbsp;</th>
<th>{{Helium}}</th>
