<br/>
<ul class="nav nav-pills nav-stacked">
    <li [routerLinkActive]="['active']" role="presentation">
        <a [routerLink]="['/overview']">Podgląd planety</a>
    </li>
    <li [routerLinkActive]="['active']" role="presentation">
        <a [routerLink]="['/buildings']">Budynki</a>
    </li>
    <li [routerLinkActive]="['active']" role="presentation">
        <a [routerLink]="['/ground-defense']">Obrona naziemna</a>
    </li>
    <li [routerLinkActive]="['active']" role="presentation">
        <a [routerLink]="['/shipyard']">Stocznia</a>
    </li>
    <li [routerLinkActive]="['active']" role="presentation">
        <a [routerLink]="['/notfound']">nf</a>
    </li>
</ul>
<br/>