<br/>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <span class="glyphicon glyphicon-globe glyphiconBigger"></span>
        <span class="glyphiconBigger">Nazwa planety: <b>{{planetName}}</b></span>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
        <img style="border-radius: 5%" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 roundBorders"
             src="/assets/imgs/Planets/climate_2/swampplanet1.jpg">
        <br/>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                 &nbsp;&nbsp;&nbsp; <span class="glyphiconBigger">Zasoby:</span>
                <tr class="glyphiconMedium">
                    <th>&nbsp;&nbsp;&nbsp; <span
                            class="glyphicon glyphicon-usd"></span>&nbsp;Kredyty:
                    </th>
                    <th>123</th>
                </tr>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  ">
        <br/>
        <table>
            <tr class="glyphiconMedium">
                <th>&nbsp;&nbsp;&nbsp; <span
                        class="glyphicon glyphicon-equalizer"></span>&nbsp;Nastroje:&nbsp;&nbsp;
                </th>
                <th>HUMOR</th>
                <th class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
                             aria-valuemin="0" aria-valuemax="100"
                             style="width:50%">
                        </div>
                    </div>
                </th>
            </tr>
            <tr class="blank_row"></tr>
            <tr class="glyphiconMedium">
                <th>&nbsp;&nbsp;&nbsp; <span class="glyphicon glyphicon-user"></span>&nbsp;Rasa:&nbsp;&nbsp;
                </th>
                <th>RASA</th>
            </tr>
            <tr class="glyphiconMedium">
                <th>&nbsp;&nbsp;&nbsp; <span class="glyphicon glyphicon-cloud"></span>&nbsp;Klimat planety:&nbsp;&nbsp;
                </th>
                <th>KLIMAT</th>
            </tr>
        </table>
    </div>
</div>