<div *ngIf="isLoading" class="uil-ball-css col-lg-12 col-md-12 col-sm-12 col-xs-12" style='width:100%;-webkit-transform:scale(0.78)'>
    <div></div>
</div>
<div [class.show]="!isLoading" class="step">
    <div class="content-box col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="input-group">
            <input type="search" class="form-control" [value]="filter" [(ngModel)]="filter"
                   placeholder="Search for..."/>
            <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
        </div>
    </div>
    <div id="building-list" *ngIf="buildingsList">
        <div class="content-box content-box-separate-bottom col-lg-12 col-md-12 col-sm-12 col-xs-12"
             *ngFor="let building of buildingsList | BuildingsPipe:filter">
            {{building.name}}<br/>
            {{building.description}}<br/><br/>
            <hr/>
        </div>
    </div>
</div>